<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RSS Reader login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h3>RSS Reader login</h3>
    <form method="post" action="/main">
        userid : <input type="text" name="user[userid]" value="" /> <br/>
        passwd : <input type="text" name="user[passwd]" value="" /> <br/>
        <p><input type="submit" name="login" value="login" /></p>
    </form>
</body>
</html>
